﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

/*Class Project...*/
.ctn {
    margin-top: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blank-state {
    text-align: center;
    display: block;
    color: #cbcbcb;
    font-weight: bold;
    font-size: 18px;
}

.act {
    color: #cbcbcb;
    cursor: pointer;
    font-size: 18px;
    margin-right: 6px;
}

.act-success:hover {
    color: #3c763d;
}

.act-info:hover {
    color: #31708f;
}

.act-danger:hover {
    color: #31708f;
}

textarea {
    resize: none;
}

.login {
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

    .login a {
        color: #cbcbcb;
    }