﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Site.css?Ver=@DateTime.Now.ToString("hhmmss")" rel="stylesheet" />
    <script src="~/Scripts/main.js?Ver=@DateTime.Now.ToString("hhmmss")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blog Engine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Posts", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Post", "Post", "Home")</li>
                    <li>@Html.ActionLink("Editor", "Editor", "Home")</li>
                    <li>
                        @{
                            if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <span class="login">User: @HttpContext.Current.User.Identity.Name @Html.ActionLink("Logout", "Logout", "Home")</span>
                            }
                            else
                            {
                                @Html.ActionLink("Login", "Login", "Home")

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        localStorage.removeItem('token');
                                    });
                                </script>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Blog Engine .NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
