﻿
@{
    ViewBag.Title = "Editor";
}

<style type="text/css">
    #tbl-table th:first-child {
        width: 5%;
    }

    #tbl-table th:nth-child(2) {
        width: 20%;
    }

    #tbl-table th:nth-child(3) {
        width: 20%;
    }

    #tbl-table th:nth-child(5) {
        width: 12%;
    }

    #tbl-table th:last-child {
        width: 8%;
    }

    #btn-accept {
        width: 90px;
    }
</style>

<div id="ctn-table" class="ctn">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Process list</h3>
        </div>
        <div class="panel-body">
            <table id="tbl-table" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr style="display: none">
                        <td colspan="6"><span class="blank-state">No data</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Comments</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <textarea class="form-control" id="txt-comment"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="btn btn-primary" id="btn-accept">Accept</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tbl-table').on('click', '.approve', function () {
            Save($(this).parents('tr').attr('data-id'), true);
        });

        $('#tbl-table').on('click', '.reject', function () {
            $('#mdl-comment').attr('data-id', $(this).parents('tr').attr('data-id'));
            $('#mdl-comment').modal('show');
        });

        $('#btn-accept').on('click', function () {
            if (!Validate()) return;

            Save(+$('#mdl-comment').attr('data-id'));

            $('#mdl-comment').modal('hide');

            alert('Record Saved!');
        });

        $('#mdl-comment').on('hidden.bs.modal', function (e) {
            $('#txt-comment').val('');
            $('#txt-comment').parent().removeClass('has-error');
        });

        Gets();
    });

    function Gets() {
        $('#tbl-table > tbody').empty();

        Fetch({
            url: '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts/Pending',
            type: 'GET',
            success: function (data) {
                let _row;

                data.forEach(function (item) {
                    _row += `<tr data-id="${item.id}">`;
                    _row += `<td>${item.id}</td>`;
                    _row += `<td>${item.title}</td>`;
                    _row += `<td>${item.author}</td>`;
                    _row += `<td>${item.content}</td>`;
                    _row += `<td><span class="label label-${item.color}">${item.status}</span></td>`;
                    _row += `<td><span class="glyphicon glyphicon-ok act act-success approve" title="Approve"></span><span class="glyphicon glyphicon-remove act act-danger reject" title="Reject"></span></td>`;
                    _row += `</tr>`;
                });
       
                $('#tbl-table > tbody').html(_row);
                if (data.length == 0) $('#tbl-table > tfoot > tr').fadeIn(300);
            }
        });
    }

    function Save(id, approve = false) {
        Fetch({
            url: `@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts/${approve ? 'Approve' : 'Reject'}`,
            type: 'POST',
            data: Json(id),
            success: function (data) {
                Gets();
            }
        });
    }

    function Validate() {
        let _valor = true;

        if ($('#txt-comment').val() == '') {
            $('#txt-comment').parent().addClass('has-error'); _valor = false;
        }
        else {
            $('#txt-comment').parent().removeClass('has-error');
        }

        return _valor;
    }

    function Json(id) {
        let _object = new Object();
        _object.Id = id;
        _object.Comments = $('#txt-comment').val();

        return JSON.stringify(_object);
    }
</script>