﻿@{
    ViewBag.Title = "Posts";
}

<style type="text/css">
    #tbl-comment th:nth-child(1) {
        width: 6%;
    }

    #tbl-comment th:nth-child(2) {
        width: 10%;
    }

    #tbl-comment th:nth-child(3) {
        width: 18%;
    }

    #btn-back {
        width: 90px;
    }
</style>

<div id="ctn-table" class="ctn">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Posts list</h3>
        </div>
        <div class="panel-body">
            <table id="tbl-table" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr style="display: none">
                        <td colspan="6"><span class="blank-state">No data</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="ctn-post" class="ctn" style="display: none">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 form-group">
                    Date:
                    <strong id="lbl-date"></strong>
                </div>
                <div class="col-lg-3 form-group">
                    Author:
                    <strong id="lbl-author"></strong>
                </div>
                <div class="col-lg-3 form-group">
                    Status:
                    <strong id="lbl-status" class="label label-success"></strong>
                </div>
                <div class="col-lg-12 form-group">
                    Content:
                    <strong id="lbl-content"></strong>
                </div>
            </div>

            <hr />

            <table id="tbl-comment" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr style="display: none">
                        <td colspan="4"><span class="blank-state">No data</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <div class="btn btn-danger" id="btn-back">Back</div>
            <div class="btn btn-primary" id="btn-comment" data-toggle="modal" data-target="#mdl-comment">Comment</div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Comments</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <textarea class="form-control" id="txt-comment"></textarea>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <div class="btn btn-primary" id="btn-accept">Accept</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tbl-table').on('click', '.comment', function () {
            Get($(this).parents('tr').attr('data-id'));
        });

        $('#btn-accept').on('click', function () {
            if (!Validate()) return;

            Post();
        });

        $('#btn-back').on('click', function () {
            $('#ctn-post').hide();
            $('#ctn-table').fadeIn(300, function () {
                Clear();
            });
        });

        $('#mdl-comment').on('hidden.bs.modal', function (e) {
            $('#txt-comment').val('');
            $('#txt-comment').parent().removeClass('has-error');
        });

        Gets();
    });

    function Gets() {
        Fetch({
            url: '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts',
            type: 'GET',
            success: function (data) {
                let _row;

                data.forEach(function (item) {
                    _row += `<tr data-id="${item.id}">`;
                    _row += `<td>${item.id}</td>`;
                    _row += `<td>${item.title}</td>`;
                    _row += `<td>${item.author}</td>`;
                    _row += `<td>${item.content}</td>`;
                    _row += `<td><span class="label label-primary">${item.status}</span></td>`;
                    _row += `<td><span class="glyphicon glyphicon-comment act act-success comment" title="Comments"></span></td>`;
                    _row += `</tr>`;
                });

                $('#tbl-table > tbody').html(_row);
                if (data.length == 0) $('#tbl-table > tfoot > tr').fadeIn(300);
            }
        });
    }

    function Get(id) {
        Fetch({
            url: `@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts/Published/${id}`,
            type: 'GET',
            success: function (data) {
                $('#ctn-post').attr('data-id', id);
                $('#ctn-post .panel-title').text(`Title: ${data.title}`);
                $('#lbl-date').text(data.date);
                $('#lbl-author').text(data.author);
                $('#lbl-status').text(data.status);
                $('#lbl-content').text(data.content);

                let _row;

                data.comments.forEach(function (item, i) {
                    _row += `<tr>`;
                    _row += `<td>${i + 1}</td>`;
                    _row += `<td>${item.date}</td>`;
                    _row += `<td>${item.user}</td>`;
                    _row += `<td>${item.comment}</td>`;
                    _row += `</tr>`;
                });

                $('#tbl-comment > tbody').html(_row);
                if (data.length == 0) $('#tbl-comment > tfoot > tr').fadeIn(300);

                $('#ctn-table').hide();
                $('#ctn-post').fadeIn(300);
            }
        });
    }

    function Clear() {
        $('#ctn-post').attr('data-id', '');
        $('#ctn-post .panel-title').text('');

        $('#lbl-date, #lbl-author, #lbl-status, #lbl-content').text('')

        $('#tbl-comment > tbody').empty();
        $('#tbl-comment > tfoot > tr').hide();
    }

    function Validate() {
        let _valor = true;

        if ($('#txt-comment').val() == '') {
            $('#txt-comment').parent().addClass('has-error'); _valor = false;
        }
        else {
            $('#txt-comment').parent().removeClass('has-error');
        }

        return _valor;
    }

    function Post() {
        Fetch({
            url: `@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts/Comment`,
            type: 'POST',
            data: Json(),
            success: function (data) {
                Get($('#ctn-post').attr('data-id'));
                $('#mdl-comment').modal('hide');
            }
        });
    }

    function Json() {
        let _object = new Object();
        _object.Id = +$('#ctn-post').attr('data-id');
        _object.Comments = $('#txt-comment').val();

        return JSON.stringify(_object);
    }
</script>