﻿
@{
    ViewBag.Title = "Login";
}

<style type="text/css">
    #btn-login {
        width: 90px;
    }
</style>

<div id="ctn-table" class="row ctn">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form action="/Home/Login" method="post">
                    <input type="hidden" id="user" name="user" />
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>User</label>
                            <input type="text" class="form-control" id="txt-user" autocomplete="off" placeholder="User">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" id="txt-password" autocomplete="off" placeholder="Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="btn btn-primary" id="btn-login">Login</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
         $('#btn-login').on('click', function () {
            if (!Validate()) return;

            Login();
        });
    });

    function Validate() {
        let _valor = true;

        if ($('#txt-user').val() == '') {
            $('#txt-user').parent().addClass('has-error'); _valor = false;
        }
        else {
            $('#txt-user').parent().removeClass('has-error');
        }

        if ($('#txt-password').val() == '') {
            $('#txt-password').parent().addClass('has-error'); _valor = false;
        }
        else {
            $('#txt-password').parent().removeClass('has-error');
        }

        return _valor;
    }

    function Login() {
        Fetch({
            url: `@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Account`,
            type: 'POST',
            data: Json(),
            success: function (data) {
                if (data.status != 200) alert(data.title);
                else {
                    localStorage.setItem('token', data.token);
                    $('#user').val(data.user);
                    $('form').submit();
                }
            }
        });
    }

    function Json() {
        let _object = new Object();
        _object.User = $('#txt-user').val();
        _object.Password = $('#txt-password').val();

        return JSON.stringify(_object);
    }
</script>