﻿@{
    ViewBag.Title = "My Post";
}

<style type="text/css">
    #tbl-table th:first-child {
        width: 5%;
    }

    #tbl-table th:nth-child(2) {
        width: 20%;
    }

    #tbl-table th:nth-child(4) {
        width: 8%;
    }

    #tbl-table th:last-child {
        width: 9%;
    }

    #btn-save,
    #btn-black,
    #btn-new {
        width: 90px;
    }
</style>

<div id="ctn-table" class="ctn">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My list posts</h3>
        </div>
        <div class="panel-body">
            <table id="tbl-table" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <div class="btn btn-primary" id="btn-new">New</div>
        </div>
    </div>
</div>

<div id="ctn-post" class="ctn" data-action="POST" data-id style="display: none">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Post</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="txt-title" autocomplete="off">
                </div>
                <div class="col-lg-12 form-group">
                    <label>Content</label>
                    <textarea class="form-control" id="txt-content" maxlength="600"></textarea>
                </div>
                <div class="col-lg-12 form-group">
                    Reject for:
                    <strong id="lbl-comment"></strong>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn btn-danger" id="btn-black">Back</div>
            <div class="btn btn-primary" id="btn-save">Save</div>
        </div>
    </div>
</div>

<div id="ctn-info" class="ctn" style="display: none">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 form-group">
                    Date:
                    <strong id="lbl-date"></strong>
                </div>
                <div class="col-lg-3 form-group">
                    Author:
                    <strong id="lbl-author"></strong>
                </div>
                <div class="col-lg-3 form-group">
                    Status:
                    <strong id="lbl-status" class="label label-success"></strong>
                </div>
                <div class="col-lg-12 form-group">
                    Content:
                    <strong id="lbl-content"></strong>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn btn-danger" id="btn-back">Back</div>
            <div class="btn btn-primary" id="btn-comment" data-toggle="modal" data-target="#mdl-comment">Comment</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-new').on('click', function () {
            $('#ctn-table').hide();
            $('#ctn-post').fadeIn(300);
        });

        $('#btn-save').on('click', function () {
            if (!Validate()) return;

            Save();
        });

        $('#btn-black').on('click', function () {
            $('#ctn-post').hide();
            $('#ctn-table').fadeIn(300, function () {
                Clear();
            });
        });

        $('#tbl-table').on('click', '.edit', function () {
            Get($(this).parents('tr').attr('data-id'));
        });

        $('#tbl-table').on('click', '.info', function () {
            Get($(this).parents('tr').attr('data-id'), true);
        });

        $('#tbl-table').on('click', '.submit', function () {
            Submit($(this).parents('tr').attr('data-id'));
        });

        Gets();
    });

    function Gets() {
        Fetch({
            url: '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts/Posts',
            type: 'GET',
            success: function (data) {
                let _row;
                let _edit = '<span class="glyphicon glyphicon-pencil act act-success edit" title="Edit"></span>';
                let _submit = '<span class="glyphicon glyphicon-send act act-success submit" title="Submit"></span>';

                data.forEach(function (item) {
                    _row += `<tr data-id="${item.id}">`;
                    _row += `<td>${item.id}</td>`;
                    _row += `<td>${item.title}</td>`;
                    _row += `<td>${item.content}</td>`;
                    _row += `<td><span class="label label-${item.color}">${item.status}</span></td>`;
                    _row += `<td><span class="glyphicon glyphicon-info-sign act act-info info" title="Info"></span>${item.edit ? _edit : ''} ${item.submit ? _submit : ''}</td>`;
                    _row += `</tr>`;
                });

                $('#tbl-table > tbody').html(_row);
                if (data.length == 0) $('#tbl-table > tfoot > tr').fadeIn(300);
            }
        });
    }

    function Get(id, read = false) {
        Fetch({
            url: `@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts/${id}`,
            type: 'GET',
            success: function (data) {
                $('#ctn-post').attr('data-id', id).attr('data-action', 'PUT');
                $('#txt-title').val(data.title).prop('readonly', read);
                $('#txt-content').val(data.content).prop('readonly', read);
                $('#lbl-comment').text(data.comment);

                $('#ctn-table').hide();
                $('#ctn-post').fadeIn(300);
            }
        });
    }

    function Submit(id) {
        Fetch({
            url: `@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts/Submit/${id}`,
            type: 'GET',
            success: function (data) {
                Gets();
                alert('¡Post Submit!');
            }
        });
    }

    function Clear() {
        $('#ctn-post').attr('data-id', '').attr('data-action', 'POST');

        $('#txt-title, #txt-content').val('').prop('readonly', false);
        $('#txt-title, #txt-content').parent().removeClass('has-error');
        $('#lbl-comment').text('');
    }

    function Validate() {
        let _valor = true;

        if ($('#txt-title').val() == '') {
            $('#txt-title').parent().addClass('has-error'); _valor = false;
        }
        else {
            $('#txt-title').parent().removeClass('has-error');
        }

        if ($('#txt-content').val() == '') {
            $('#txt-content').parent().addClass('has-error'); _valor = false;
        }
        else {
            $('#txt-content').parent().removeClass('has-error');
        }

        return _valor;
    }

    function Save() {
        Fetch({
            url: `@System.Configuration.ConfigurationManager.AppSettings["WebApi"]/Posts`,
            type: $('#ctn-post').attr('data-action'),
            data: Json(),
            success: function (data) {
                Gets();
                $('#btn-black').click();
            }
        });
    }

    function Json() {
        let _object = new Object();
        _object.Id = +$('#ctn-post').attr('data-id');
        _object.Title = $('#txt-title').val();
        _object.Content = $('#txt-content').val();

        return JSON.stringify(_object);
    }
</script>